extends base

block title
  if page.category
     title= page.category + ' | ' + config.title
  if page.tag
     title= page.tag + ' | ' + config.title
  if page.archive
     title= __('archive') + ' | ' + config.title
block content
  if page.category || page.tag
      h1.label-title=  __('reading_label', page.category || page.tag)
  .post
    .post-archive
        for post in page.posts.toArray()
          li
            span.date= post.date.format('YYYY/MM/DD')
            a(href=url_for(post.path), title=post.title)
              +title(post)
  include _partial/paginator.pug
  include _widget/all_comments.pug
