extends base-without-sidebar

block title
  if page.category
     title= page.category + ' | ' + config.title
  if page.tag
     title= page.tag + ' | ' + config.title
  if page.archive
     title= __('archive') + ' | ' + config.title

block content
  .post-v2
    .post-archive-v2 
      for post in page.posts.toArray()
        .post-box
          .post-title
            a(href=url_for(post.path), title=post.title)
              +title(post)
          img.post-img-v2(src=post.img || "/blog_images/未分类/默认壁纸.webp", alt="", srcset="")


  include _partial/paginator.pug
  include _widget/all_comments.pug
  

